Labal Encoding

In [95]:
import numpy as np
import seaborn as sn
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [54]:
##Improting the Dataset:
Dataset=sns.load_dataset('iris')

In [55]:
Dataset.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [56]:
Dataset['species'].value_counts()

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

In [ ]:
## We have three types of lebals, hence will be using OHE/Nomial Encoder

In [57]:
encoder=OneHotEncoder()

In [61]:
encoder.fit(Dataset[['species']])

OneHotEncoder()

In [62]:
Encoded=encoder.transform(Dataset[['species']])

In [63]:
Encoded

<150x3 sparse matrix of type '<class 'numpy.float64'>'
	with 150 stored elements in Compressed Sparse Row format>

In [64]:
##Converting this into an array :
Encoded=Encoded.toarray()

In [71]:
Encoded_dataframe=pd.DataFrame(Encoded,columns=encoder.get_feature_names_out(['species']))

In [72]:
Encoded_dataframe

     species_setosa  species_versicolor  species_virginica
0               1.0                 0.0                0.0
1               1.0                 0.0                0.0
2               1.0                 0.0                0.0
3               1.0                 0.0                0.0
4               1.0                 0.0                0.0
..              ...                 ...                ...
145             0.0                 0.0                1.0
146             0.0                 0.0                1.0
147             0.0                 0.0                1.0
148             0.0                 0.0                1.0
149             0.0                 0.0                1.0

[150 rows x 3 columns]

In [78]:
## Creating new Dataset
type(Encoded_dataframe)

pandas.core.frame.DataFrame

In [79]:
Df_encoded=pd.concat([Dataset,Encoded_dataframe],axis=1)

In [81]:
Df_encoded

,sepal_length,sepal_width,petal_length,petal_width,species,species_setosa,species_versicolor,species_virginica
0,5.1,3.5,1.4,0.2,setosa,1.0,0.0,0.0
1,4.9,3.0,1.4,0.2,setosa,1.0,0.0,0.0
2,4.7,3.2,1.3,0.2,setosa,1.0,0.0,0.0
3,4.6,3.1,1.5,0.2,setosa,1.0,0.0,0.0
4,5.0,3.6,1.4,0.2,setosa,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,0.0,0.0,1.0
146,6.3,2.5,5.0,1.9,virginica,0.0,0.0,1.0
147,6.5,3.0,5.2,2.0,virginica,0.0,0.0,1.0
148,6.2,3.4,5.4,2.3,virginica,0.0,0.0,1.0
149,5.9,3.0,5.1,1.8,virginica,0.0,0.0,1.0

In [83]:
## Improting another Datset to demonstarte Lebal Ecoder

In [96]:
df=sn.load_dataset('titanic')

In [98]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [100]:
##Here we will encode alone feature
df['alone'].value_counts()

True     537
False    354
Name: alone, dtype: int64

In [101]:
df['alone'].unique()

array([False,  True])

In [102]:
L_encoder=LabelEncoder()

In [103]:
L_encoder.fit(df['alone'])

LabelEncoder()

In [104]:
Encoded_alone=L_encoder.transform(df['alone'])

In [106]:
df['Encoded_Alone']=Encoded_alone

In [108]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,Encoded_Alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,0
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,0
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,1
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,0
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,1

In [2]:
##Target Guided Encoding
## Generating the Data :

import pandas as pd
import numpy as np

# Set random seed for reproducibility
np.random.seed(42)

# Generate a categorical feature with some categories
data = {
    'Neighborhood': np.random.choice(['A', 'B', 'C', 'D'], size=100),
    'House_Price': np.random.randint(100000, 500000, size=100)  # Target variable
}

# Create the DataFrame
df = pd.DataFrame(data)

# Display the first few rows of the DataFrame
print(df.head())

  Neighborhood  House_Price
0            C       302283
1            D       296769
2            A       137065
3            C       323165
4            C       199299

In [21]:
df.groupby('Neighborhood')['House_Price'].mean()

Neighborhood
A    241007.600000
B    315402.576923
C    308174.708333
D    296650.733333
Name: House_Price, dtype: float64

In [14]:
##Convert the means into a dict
df_city=df.groupby('Neighborhood')['House_Price'].mean().to_dict()

In [15]:
df_city

{'A': 241007.6,
 'B': 315402.57692307694,
 'C': 308174.7083333333,
 'D': 296650.73333333334}

In [16]:
##mapping mean of each city to the dataframe
df['Neighborhood_Encoded']=df['Neighborhood'].map(df_city)

In [17]:
df

   Neighborhood  House_Price  Neighborhood_Encoded
0             C       302283         308174.708333
1             D       296769         296650.733333
2             A       137065         241007.600000
3             C       323165         308174.708333
4             C       199299         308174.708333
..          ...          ...                   ...
95            B       164044         315402.576923
96            B       209556         315402.576923
97            D       102693         296650.733333
98            B       457403         315402.576923
99            A       343307         241007.600000

[100 rows x 3 columns]

In [22]:
df.cov()

/tmp/ipykernel_77/1545644723.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.cov()

                       House_Price  Neighborhood_Encoded
House_Price           1.326153e+10          7.377439e+08
Neighborhood_Encoded  7.377439e+08          7.377439e+08

In [23]:
df.corr()

/tmp/ipykernel_77/1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

                      House_Price  Neighborhood_Encoded
House_Price              1.000000              0.235861
Neighborhood_Encoded     0.235861              1.000000

In [33]:
df.groupby('Neighborhood')['House_Price'].median()

Neighborhood
A    237756.0
B    342793.0
C    302632.5
D    284331.5
Name: House_Price, dtype: float64